.modalDialog {
    max-height: 80vh;
    margin-top: 5rem;
}

.dropzone {
    padding: 20px;
    border: 3px dashed #eee;
    margin-bottom: 10px;
    background-color: #fafafa;
    text-align: center;
}

.dropzoneText {
    margin: 0;
}
