# Eclipse (also used by Gradle support in VS Code)
.settings/
.project

# IntelliJ
.idea/
*.iml

# Gradle
.gradle/

# Node
node_modules/
pnpm-lock.yaml
yarn.lock

# mega-linter
report/

# Compilation/build outputs
build/
dist/
dist-ssr/
out/
tmp/

api-editor/backend/src/main/resources/static/

# Other
.DS_Store/
*.log
