.parameter-view {
    padding: 1rem;
    overflow-x: hidden;
}

.parameterViewDiv h2{
    padding-top: 1rem;
    padding-left: 1rem;
}

.parameterViewDiv h5{
    padding-top: 1rem;
    padding-left: 1rem;
}

.parameterViewDiv a{
    padding-left: .5rem;
}

.parameter-list {
    padding-left: 1rem;
    padding-bottom: .5rem;
}

.docuTextHidden {
    text-overflow: ellipsis;
}

.docu-paragraph{
    display: flex;
    justify-content: flex-start;
}

.parameter-header {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.parameter-name {
    margin-right: 15px;
}

.parameter-title {
    padding-bottom: 15px;
}

.visibility-indicator {
    display: inline-block;
    width: 1rem;
}

.read-more-button {
    text-align: left;
    background: none!important;
    border: none;
    font-family: arial, sans-serif;
    cursor: pointer;
}

.documentation-text {
    clear: both;
}
