.parameter-view {
    padding: 1rem;
}

.parameterViewDiv h2 {
    padding-top: 1rem;
    padding-left: 1rem;
}

.parameterViewDiv h5 {
    padding-top: 1rem;
    padding-left: 1rem;
}

.parameterViewDiv a {
    padding-left: 0.5rem;
}

.parameter-list {
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.docuTextHidden {
    text-overflow: ellipsis;
}

.docu-paragraph {
    display: flex;
    justify-content: flex-start;
}

.parameter-header {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.parameter-name {
    margin-right: 15px;
}

.parameter-title {
    padding-bottom: 15px;
}

.read-more-button {
    border: none;
    background: none !important;
    cursor: pointer;
    font-family: arial, sans-serif;
    text-align: left;
}

.documentation-text {
    clear: both;
}

.modal-dialog {
    margin-top: 5rem;
}

@media screen and (min-width: 1200px) {
    .modal-dialog {
        width: 500px;

        /* Centers the dialog over the left pane */
        margin-left: calc(25vw - 250px);
    }
}
