.parameterViewDiv{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-right: 1rem;
    overflow-x: hidden;
}

.parameterViewDiv h2{
    padding-top: 1rem;
    padding-left: 1rem;
}

.parameterViewDiv a{
    padding-left: .5rem;
}

.parametersList {
    padding-left: 1rem;
    padding-bottom: .5rem;
}

.docuTextHidden {
    text-overflow: ellipsis;
}

.docuParagraph{
    white-space: nowrap;
    overflow: hidden;
}

.parameter-name {
    font-weight: bold;
}

.visibility-indicator {
    display: inline-block;
    width: 1rem;
}

.read-more-button {
    text-align: left;
    background: none!important;
    border: none;
    /*padding: 0!important;*/
    padding-left: 0.5rem;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    /*color: #069;*/
    /*text-decoration: underline;*/
    cursor: pointer;
    overflow: hidden;
}
