.App {
  display: grid;
  grid-template-areas: "TreeView  ParameterView";
  grid-template-columns: 50% 50%;
  height: 100vh;
  width: 100vw;
}

.TreeView {
  grid-area: TreeView;
}

.treeViewDiv {
  border-right: 1px solid lightgray;
}

.treeViewDiv li {
  list-style-type: none;
}

.ParameterView {
  grid-area: ParameterView;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.class-node:hover, .function-node:hover, .module-node:hover {
  cursor: pointer;
}
