.app {
    display: grid;
    grid-template-areas: "menu menu" "leftPane rightPane";
    grid-auto-rows: 0fr 1fr;
    grid-auto-columns: 0fr 1fr;
    height: 100vh;
    width: 100vw;
}

.menu {
    grid-area: menu;
}

.leftPane {
    border-right: 1px solid gray;
    grid-area: leftPane;
    overflow: auto;
    resize: horizontal;
    min-width: 20vw;
    max-width: 80vw;
}

.rightPane {
    grid-area: rightPane;
    overflow: auto;
}
