.app {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 'menu menu' 'leftPane rightPane';
    grid-template-columns: 50% 50%;
}

.menu {
    grid-area: menu;
}

.leftPane {
    overflow: auto;
    border-right: 1px solid gray;
    grid-area: leftPane;
}

.rightPane {
    overflow: auto;
    grid-area: rightPane;
}
