.modalDialog {
    margin-top: 5rem;
    max-height: calc(80vh);
}

@media screen and (min-width: 1200px) {
    .annotationDialog {
        /* Centers the dialog over the left pane */
        margin-left: calc(25vw - 250px);
        width: 500px;
    }
}

.dropzone {
    background-color: #fafafa;
    border: 3px dashed #eeeeee;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
}

.dropzoneText {
    margin: 0;
}