.parameter-view {
    padding: 1rem;
}

.parameterViewDiv h2{
    padding-top: 1rem;
    padding-left: 1rem;
}

.parameterViewDiv h5{
    padding-top: 1rem;
    padding-left: 1rem;
}

.parameterViewDiv a{
    padding-left: .5rem;
}

.parameter-list {
    padding-left: 1rem;
    padding-bottom: .5rem;
}

.docuTextHidden {
    text-overflow: ellipsis;
}

.docu-paragraph{
    display: flex;
    justify-content: flex-start;
}

.parameter-header {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.parameter-name {
    margin-right: 15px;
}

.function-title {
    padding-bottom: 15px;
    padding-top: 15px;
}

.read-more-button {
    text-align: left;
    background: none!important;
    border: none;
    font-family: arial, sans-serif;
    cursor: pointer;
    margin-left: 5px;
}

.no-read-more-button {
    text-align: left;
    background: none!important;
    border: none;
    padding-left: 3rem;
    font-family: arial, sans-serif;
}

.documentation-text {
    clear: both;
}

.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

.enum-item-icon {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    align-items: center;
}


.enum-pair-row {
    padding-top: 15px;
}

h2 {
    padding-top: 30px;
    padding-bottom: 10px;
}

h1 {
    font-weight: bold;
    padding-bottom: 15px;
}

.module-list {
    list-style: none;
    padding-left: 1rem;
}

.module-list li:not(:first-child) {
    margin-top: 20px;
}

.parameter-is-title {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 20px;
    align-self: flex-end;
}

.annotation-list {
    padding-bottom: 20px;
    padding-left: 1rem;
}
