# Logs
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm/

# Optional REPL history
.node_repl_history

# mega-linter reports
/report/

# Python binaries
__pycache__/
*.pyc

# Poetry distribution
dist/

# Pytest outputs
.pytest_cache/
htmlcov/
.coverage

# Test __init__.py files
tests/**/__init__.py

# Output of this tool
out/
tmp/

# VSCode Settings
.vscode/

# IntelliJ/Pycharm settings
.idea/
