name: Pull Request Format

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
      - reopened
  merge_group:

jobs:
  check-format:
    if: ${{ github.event_name == 'pull_request_target' }}
    uses: lars-reimann/.github/.github/workflows/pr-format-reusable.yml@main
