name: Pull Request Target

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  title:
    runs-on: ubuntu-latest
    steps:
      # Check title of PRs (valid types are https://github.com/commitizen/conventional-commit-types/blob/master/index.json)
      - uses: amannn/action-semantic-pull-request@v3.4.6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
